<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Symfony Mazer Skeleton</title>

    {% block stylesfirst %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
    {% block styles %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('assets/images/logo/favicon.png') }}" type="image/x-icon">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        {% include "_sidebar.html.twig" %}
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="https://saugi.me">Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
{{ encore_entry_script_tags('app') }}
{% block js %}{% endblock %}
</body>

</html>